@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,300');
body,
html {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  background-color: #ededed;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.boxinit {
  width: 420px;
  padding: 0px;
  float: left;
  position: relative;
}
.topo {
  text-align: left;
  background-color: #EDEDED;
  height: 70px;
  width: 100%;
  position: fixed;
  padding-top: 8px;
  padding-left: 7px;
}
.topo .marca {
  margin: 0px;
}
.listagem {
  background: #ffffff;
  padding: 10px;
  min-height: 50px;
  float: left;
  width: 100%;
  padding-bottom: 20px;
  margin-top: 70px;
}
.listagem h2 {
  color: #2a014b;
  margin-bottom: 0px;
  float: left;
  text-transform: uppercase;
}
.listagem h2:first-child {
  margin-top: 0px;
}
.listagem span {
  float: left;
  width: 100%;
  background-color: #d7d7d7;
  padding: 4px;
  margin-bottom: 1px;
  font-size: 11px;
  font-weight: 500;
}
.listagem span a {
  text-decoration: none;
  color: #FFF;
  padding: 10px 4px;
  background-color: #2a014b;
  border-radius: 4px;
}
.listagem span img {
  max-height: 300px;
}
.listagem span b {
  font-weight: 700;
}
.wo-bg {
  background-color: #FFF !important;
  padding: 17px 0px !important;
}
.tx-red {
  color: orangered;
}
.tx-green {
  color: #08A500;
}
